.footer
    .top
        .col
            span 关于我们
            ul
                li
                    a(href="#") 公司简介
                li
                    a(href="#") 公司理念
                li
                    a(href="#") 公司文化
                li
                    a(href="#") 公司荣誉
                li
                    a(href="#") 发展历程
                li
                    a(href="#") 组织结构
        .col
            span 技术与产品
            ul
                li
                    a(href="#") 公司简介
                li
                    a(href="#") 公司理念
                li
                    a(href="#") 公司文化
                li
                    a(href="#") 公司荣誉
        .col
            span 服务与支持
            ul
                li
                    a(href="#") 公司简介
                li
                    a(href="#") 公司理念
                li
                    a(href="#") 公司文化
                li
                    a(href="#") 公司荣誉
        .contact
            img(src="https://ss0.baidu.com/7Po3dSag_xI4khGko9WTAnF6hhy/image/h%3D200/sign=c49cb074f41fbe09035ec4145b600c30/3801213fb80e7becebb08ce3292eb9389b506b4e.jpg")
            p 关注我们: 大纪元
            p 微博: 微博
            p 知乎: 知乎
    .bottom
        ul
            li
                a(href="#") 友情链接
            li
                a(href="#") 友情链接
            li
                a(href="#") 友情链接
            li
                a(href="#") 友情链接
        span.title 北京科诚纪元有限公司
        