.header
    img.logo(src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/bd_logo1_31bdc765.png", alt="科诚纪元")
    ul.nav
        li.active
            a(href="#") 首页
        li
            a(href="#") 公司简介
        li
            a(href="#") 产品服务
        li
            a(href="#") 产品案例
        li
            a(href="#") 管理团队
        li
            a(href="#") 联系我们